.bestWrap {
  padding: 50px 30px;
}

.bestWrap > h2 {
  text-align: center;
  margin-bottom: 0px;
}

.bestWrap > p {
  text-align: center;
  font-weight: 500;
  margin-top: 0px;
  color: #bbb;
  font-size: 14px;
}

.bestWrap .best {
  width: 100%;
  max-width: 1280px;
  margin: 30px auto;
  height: 640px;
}

.bestWrap .best ul {
  display: flex;
  height: 100%;
}

.bestWrap .best ul > li {
  width: 50%;
  height: 100%;
}

.bestWrap .best ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  background: #f7f7f7 url(../img/best01.jpg);
}

.bestWrap .best ul > li > a .bestsp {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bestWrap .best ul > li > a .bestsp .bestTextBox {
  width: 40%;
}

.bestWrap .best ul > li > a .bestsp .bestTextBox b {
  font-size: 25px;
}

.bestWrap .best ul > li > a .bestsp .bestTextBox p {
  font-size: 14px;
  color: #555;
  padding-top: 30px;
  position: relative;
}

.bestWrap .best ul > li > a .bestsp .bestTextBox p:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  height: 1px;
  width: 50px;
  background: #555;
}

.bestWrap .best ul > li > a .bestsp .bestTextBox .sp-empty {
  border: 2px solid #333;
  background: none;
  color: #555;
  padding: 5px 20px;
  border-radius: 3px;
  margin-top: 10px;
  display: inline-block;
  position: relative;
  z-index: 2;
}

.bestWrap .best ul > li > a .bestsp .bestTextBox .sp-empty:after {
  width: 0;
  height: 100%;
  content: "MORE Btn";
  overflow: hidden;
  background: #555;
  padding: 5px 0;
  text-align: center;
  box-sizing: border-box;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .3s;
}

.bestWrap .best ul > li > a .bestsp .bestTextBox .sp-empty:hover::after {
  width: 100%;
}

.bestWrap .best ul > li > .bestbox {
  width: 100%;
}

.bestWrap .best ul > li > .bestbox > ul {
  display: flex;
  flex-wrap: wrap;
}

.bestWrap .best ul > li > .bestbox > ul > li {
  width: 50%;
  height: 320px;
}

.bestWrap .best ul > li > .bestbox > ul > li > a {
  display: block;
  width: 100%;
  height: 100%;
  background: #fbfbfb;
  padding: 0 70px;
  box-sizing: border-box;
  position: relative;
}

.bestWrap .best ul > li > .bestbox > ul > li > a .aWrap {
  padding-top: 80px;
  width: 100%;
  height: 150px;
}

.bestWrap .best ul > li > .bestbox > ul > li > a .aWrap b {
  width: 100%;
  font-size: 22px;
  color: #333;
}

.bestWrap .best ul > li > .bestbox > ul > li > a .aWrap p {
  font-size: 14px;
  color: #555;
  padding-top: 30px;
  position: relative;
  letter-spacing: -1px;
}

.bestWrap .best ul > li > .bestbox > ul > li > a .aWrap p:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  height: 1px;
  width: 50px;
  background: #555;
}

.bestWrap .best ul > li > .bestbox > ul > li > a .aWrap > span {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  opacity: 0;
  transition: .5s;
}

.bestWrap .best ul > li > .bestbox > ul > li > a .aWrap > span i {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bestWrap .best ul > li > .bestbox > ul > li > a .aWrap > span i button {
  border: 1px solid #fff;
  padding: 10px 20px;
  background: none;
  color: #fff;
}

.bestWrap .best ul > li > .bestbox > ul > li > a:hover span {
  opacity: 1;
}

.bestWrap .best ul > li > .bestbox > ul > li:nth-child(2) a {
  width: 100%;
  height: 100%;
  background: url(../img/best02.jpg) no-repeat top left/100%;
}

.bestWrap .best ul > li > .bestbox > ul > li:nth-child(3)a {
  width: 100%;
  height: 100%;
  background: url(../img/best03.jpg) no-repeat top left/100%;
}
